ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li {
 
   
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



a {
text-decoration: none;
color: white;
font-family: Verdana;
font-size: 23px;
overflow: hidden;
}


